.container {
  width: 100%;
}

.listContainer {
  background-color: white;
  border-radius: 10px;
}

.head {
  font-size: 20px;
  font-weight: bold;
}

.listHeadWrapper {
  padding: 20px 30px;
  border-bottom: 1px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterWrapper {
  display: flex;
  gap: 20px;
}

.orderListContainer {
  min-height: 400px;
}

.orderListWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.orderWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0 25px 0;
  border-bottom: 1px solid var(--gray-3);
}

.orderWrapper:last-child {
  border-bottom: none;
  padding: 15px 0 15px 0;
}

.orderHeadWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderDate {
  font-size: 20px;
  font-weight: bold;
}
.orderDetailLink {
  color: var(--gray-7);
}
