.container {
  width: 450px;
  padding: 7px;
  border: solid 1px var(--gray-5);
  border-radius: 5px;
  display: flex;
  gap: 5px;
}
.searchInput {
  flex: 1;
  outline: none;
  font-size: 15px;
  border: none;
  padding: 0;
}

.searchButton {
  border: none;
  display: flex;
  background-color: white;
  cursor: pointer;
  padding: 0;
}
