.rootContainer {
  width: 100%;
}
.productCarouselSection {
  width: 1100px;
  margin: auto;
}
.productCarouselWrapper {
  display: flex;
  flex-direction: column;
}
.productCardSection {
  width: 1100px;
  margin: auto;
}
.productCardWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 20px;
}
.cardTitle {
  font-size: 25px;
  font-weight: 600;
}

.viewAllWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.viewAllButton {
  padding: 10px 200px;
  background-color: white;
  border: solid 1px var(--gray-5);
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.viewAllButton:hover {
  border-color: black;
}
