.rootContainer {
  border-bottom: solid var(--gray-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  user-select: none;
}
.container {
  width: 70%;
  margin: auto;
  box-sizing: border-box;
}
.topElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSearchWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bottomElement {
  display: flex;
  align-items: stretch;
  margin-top: 15px;
  line-height: 50px;
  text-align: center;
  gap: 30px;
}
