.iconWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 27px;
  height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
