.container {
  width: 350px;
  margin: 50px auto 30px;
}
.titleWrapper {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 25px;
  font-weight: 700;
}
.formContainer {
  margin-top: 20px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputField {
  padding: 10px;
  border: solid 1px var(--gray-6);
  border-radius: 3px;
  outline: none;
  font-size: 15px;
}
.signupButton {
  margin-top: 15px;
  width: 100%;
  padding: 12px 5px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signupButton:hover {
  background-color: var(--brand-color-hover);
}

.inputField:focus {
  border: solid 1.5px var(--brand-color);
}
.alreadyContainer {
  margin-top: 7px;
}
.alreadyWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
